$theme: #3c67bd;

/* 侧边栏 */
$sidebar-width: 210px;
$sidebar-min-width: 70px;
$sidebar-bg: #314156;
$sidebar-hover-bg: #1f2d3c;
$sidebar-color: #bfcbd9;
$sidebar-active-color: #0b93fc;

/* 侧边栏菜单项 */
$menu-item-height: 50px;

/* 顶部导航 */
$navbar-height: 30px;
$navbar-padding: 20px;
$header-height: 86px;
$reusetab-height: 40px;

$navbar-background: #BECCD8;
$appmain-background: #F9FAFB;
$header-background: #EEF4F9;
$right-side-font-color: #666666;
$reuse-tab-item-background: #FFFFFF;

$title-color: #45526b;
$parent-title-color: #3963bc;

$table-border-color: #dee2e6;